
__pycache__/datamodel.cpython-312.pyc
__pycache__/koreant_algotrading.cpython-312.pyc
prices_round_1_day_combined.xlsx
prices_round_1_day_combined.xlsx
~$prices_round_1_day_combined.xlsx
prices_round_1_day_combined.xlsx
*.xlsx
*.xlsx
*.zip
*.csv
*.pyc
